*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html {
    scroll-behavior: smooth;
    scroll-padding: 5em;
   }
   .nav{
    position: fixed; 
    z-index: 99;
}

/* navgatie */
.full-nav{
    width: auto;
    height: 80px;
    background-color: #10151A;
    display: flex;
}
.col-25-nav{
    height: 80px;
    width: 25%;
    background-color: #10151A;
    font-family: 'Mate SC', serif;
    color: #ffff;
    font-size: 50px;
    text-shadow: 0px 2 px 4px #00A3FF;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #FF720B;
}

.col-55-nav{
    width: 55%;
}
.col-10-nav{
    width: 10%;
    background-color: #10151A;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 15px;
}
.trigger:hover {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}
.col-burger-munu-10-nav{
    width: 10%;
    background-color: #10151A;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

}
.burger-munu-button{
    background-color: #10151A;
    outline: 0;
    color: #fff;
    border: 0;
    border-radius: 0px;
    font-size: 2em;
    font-size: 20px;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-family: 'Mate SC', serif;
}
.full-screen-nav{
    position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: 0.2s ease-in-out;
	display: none;
    font-size: 50px;
    text-decoration: none;
    color: #FF720B;
}
.open-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}
.backdrop {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.92);
	cursor: pointer;
	animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
ul {
	z-index: 9999;
	position: relative;
}
ul li {
	list-style: none;
	text-align: center;
	margin-bottom: 30px;
	animation: 0.25s ease-in-out animateList forwards;
}
ul li:last-child {
	margin-bottom: 0;
}
@keyframes animateList {
	from {
		margin-top: -60px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
} */

/* Item links styles and hover effect */
ul li a {
	text-decoration: none;
	color: #ccc;
	font-size: 3em;
	font-weight: 900;
	text-transform: uppercase;
	transition: 0.15s ease-in-out;
}
ul li a:hover,
ul li a i {
	color: #ffa500;
}
p{
    color: #fff;
    font-size: 100%;
}
/* eind navagatie */
 /* collum's */
 .col-50{
    width: 50%;
    background-color: #10151A;
    display: flex;
    flex-direction: column;
}
.col-25{
    width: 25%;
    background-color: #10151A;
    display: flex;
    flex-direction: column;
}
.col-20{
    width: 20%;
    background-color: #10151A;
    display: flex;
    flex-direction: column;
}
.col-10{
    width: 10%;
    background-color: #10151A;
    display: flex;
    flex-direction: column;
}
.col-5{
    width: 5%;
    background-color: #10151A;
    display: flex;
    flex-direction: column;
}
 /* eind collum's */
 /* text soorten */
 h1{
    color: #FF720B;
    font-family: 'Jura', sans-serif;
    font-size: 40px;
 }
 /* eind  text soorten */
/* begin body home page*/
body{
    background-color: #10151A;
}
.container-home-page{
    height: auto;
    width: auto;
    background-color: red;
    display: flex;
}
.leeg-stuk-text{
    width: 40px;
    height: auto;
    background-color: #10151A;
    display: flex;
    flex-direction: row  ;
}
.leeg-stuk-home-page-left-1{
    height: 20%; 
    width: auto;   
}
.jop-meulmeester{
    color: #ffff;
    font-family: 'Jura', sans-serif;
    font-size: 60px;
}
.software-developer{
    color: #FF720B;
    font-family: 'Jura', sans-serif;
    font-size: 60px;
}
.text-stuk-home-page{
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.home-page-foto{
    display: flex;
    justify-content: center;
}
.home-mijn-foto{
    width: 50%;
}
.my-socials{
    font-size: 30px;
    color: #fff;
}
strong{
    color: #FF720B;
}
#scroll-container {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #scrolltext{
    width: 73%;
    text-align: right;
    font-size: 25px;
  
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
   
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
  .leeg-stuk-scrol-anumatie{
    width: auto;
    height: 80px;
    background-color: #10151A;
  }
  .container-scrol-anumatie{
    background-color: #10151A;
    color: #fff;
  }
  .container-socials-about-page{
    width: auto;
    background-color: #10151A;
    display: flex;
  }
.leeg-alinia{
    height: 25px;
}
.border-div-socials-20{
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    display: flex;
    width: 100%;
}
.container-past-projects{
    width: auto;
    height: auto;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}
.img-prejects{
    width: 70%;
}
.container-footer{
        width: 100%;
        height: 150px;
        padding-left: 40px;
        font-size: 22px; 
}
.telfoon-text{
    text-decoration: underline;
  color: #f06445;
}
.jop-meulmeester{
    font-size: 50px;
}
p{
    color: #fff;
     font-size: 22px;
}
@media only screen and (max-width: 870px) {
    .jop-meulmeester {
        font-size: 50px;
    }
    .software-developer {
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .jop-meulmeester {
        font-size: 30px;
    }
    .software-developer {
        font-size: 30px;
    }
    .col-burger-munu-10-nav{
        width: 20%;
}
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    .container-socials-about-page p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 27px;
    }
    .container-socials-about-page p {
        font-size: 15px;
    }
    .container-footer p{
        font-size: 18px; 
    }
    .gmail{
        font-size: 18px; 
    }
}
